.dynamic-table {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.dynamic-table thead tr {
    background-color: rgb(137, 180, 216);
}

.dynamic-table tbody tr {
    height: 2em;
    background-color: lightsteelblue;
}

.dynamic-table tbody tr.data-row:hover {
    cursor: pointer;
}

