
name: main-actions
run-name: ${{ github.actor }} is running GitHub Actions
on:
  push:
    branches: [ "develop", "master" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '7.4'
    - uses: actions/checkout@v3
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
<<<<<<< HEAD
    - uses: php-actions/composer@v6
=======
>>>>>>> d97a1d7a20441ffe90729fa2e7d2c277cb606dcf
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Generate key
      run: php artisan key:generate
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: Run API Test
      run: php artisan test